{% extends 'base.html' %}


{% block title %}Search Results{% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container">
    <h1>Search Results:</h1>

    {% if allPosts|length < 1 %} 
        <p> Your search - <b>{{query}} </b>- did not match any documents.
         <br><hr>
        Suggestions:
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
        </ul>
      </p>
        {% endif %}

        {% for post in allPosts %}

        <div class="row g-0 border rounded overflow-hidden flex-md-row my-10 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Article By: {{post.author}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto">{{post.content |safe | truncatechars:450}}</p>
                <div class="my-2"><a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue
                        reading</a></div>
                <div class="col-auto d-none d-lg-block"></div>
            </div>
        </div>

        {% endfor %}

</div>
{% endblock body %}